@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13%; /* #222221 converted to HSL */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;
    --primary: 162 54% 58%; /* #54CFA1 converted to HSL */
    --primary-foreground: 0 0% 13%;
    --secondary: 0 0% 85%; /* #D9DADB converted to HSL */
    --secondary-foreground: 0 0% 13%;
    --muted: 0 0% 85%;
    --muted-foreground: 0 0% 25%; /* #3F3F3F converted to HSL */
    --accent: 162 50% 33%; /* #54CFA1 converted to HSL */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 162 54% 58%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 0 0% 13%;
    --sidebar-primary: 162 54% 58%;
    --sidebar-primary-foreground: 0 0% 13%;
    --sidebar-accent: 0 0% 95%;
    --sidebar-accent-foreground: 0 0% 13%;
    --sidebar-border: 0 0% 90%;
    --sidebar-ring: 162 54% 58%;
  }
  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 85%;
    --card: 0 0% 13%;
    --card-foreground: 0 0% 85%;
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 85%;
    --primary: 162 54% 58%;
    --primary-foreground: 0 0% 13%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 85%;
    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 65%;
    --accent: 162 50% 33%;
    --accent-foreground: 0 0% 85%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 85%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 162 54% 58%;
    --sidebar-background: 0 0% 15%;
    --sidebar-foreground: 0 0% 85%;
    --sidebar-primary: 162 54% 58%;
    --sidebar-primary-foreground: 0 0% 85%;
    --sidebar-accent: 0 0% 20%;
    --sidebar-accent-foreground: 0 0% 85%;
    --sidebar-border: 0 0% 25%;
    --sidebar-ring: 162 54% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
